@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;

}

li {
    list-style: none;
}

/* header */
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    transition: all .8s;
}

header ul {
    display: flex;
}

nav,
.login {
    margin: 0 auto;
    width: 1280px;
    display: flex;
}

.nav_bottom_border {
    border-bottom: 1px solid #e8e8ea;
}

.login {
    justify-content: space-between;
    height: 43px;
    line-height: 43px;
    position: relative;
}

.login li {
    cursor: pointer;
}

nav {
    height: 90px;
    line-height: 90px;
    justify-content: space-between;
    background-color: #fff;
}

.logo {
    margin-right: 96px;
}

.logo img {
    vertical-align: text-bottom;
}

.nav_inner {
    display: flex;
}

nav>span {
    line-height: 104px;
    cursor: pointer;
}

.nav_inner i {
    line-height: 90px;
    margin-right: 48px;
    cursor: pointer;
}

.nav_inner li {
    margin-right: 36px;
    cursor: pointer;
}

.nav_inner li:hover {
    border-bottom: 5px solid black;
}

.menu_page {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    padding: 50px 125px;
    background-color: rgba(0, 0, 0, 0.8);
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    transition: .5s;
}

header .menu_page>div {
    width: 287px;
    z-index: 999;
    padding: 0 32px;
    margin-bottom: 16px;
}

header .menu_page>div h3 {
    margin-bottom: 20px;
    line-height: 36px;
}

header .menu_page>div:not(div:nth-of-type(4)) {
    border-right: 1px solid rgba(154, 154, 154, 0.15);
}

header .menu_page>div p {
    margin: 12px 0;
}

header .menu_page>div p:hover {
    text-decoration: underline;
    text-underline-position: under;
}

header .menu_page span {
    display: inline-block;
    width: 100%;
    text-align: right;
}

header .menu_page span i {
    cursor: pointer;
}

/* section1,2,3 button 공통 모양 */
.section1_button_wrap_2 button,
.section2_slide_next_prev button,
.section3_inner>button {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
}

/* section 2, 3 button 공통 위치 */
.section2_slide_next_prev button,
.section3_inner>button {
    position: absolute;
}

/* section1 */

.section1_slide {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main_img {
    width: 500%;
    height: 700px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    top: 0;
    left: -100%;
}

/* section1 title */
.section1_title {
    z-index: 2;
    position: absolute;
    display: none;
}

/* title 1 */
#main_title1 {
    width: 1401px;
    height: 740px;
    top: 334px;
    left: 0px;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    transition: all 1s;
    transform: translateY(-50%);
}

.bd {
    position: relative;
    top: -24px;
    z-index: 111;
    width: 1400px;
    opacity: 0;
    height: 700px;
    background-color: #000;
    clip-path: polygon(0 8%, 99% 8.5%, 0.3% 9%, 0.2% 100%);
    transition: 2s;
}

#main_title1 h1,
#main_title1 h2,
#main_title1 p,
#main_title1 a {
    position: absolute;
    transition: 2s;
    opacity: 0;
}

#main_title1 h1 {
    top: 50%;
    left: 50%;
    transition: all 1.2s;
    transform: translate(-50%, -50%);
    opacity: 0;
    height: 0;
}

#main_title1 h2 {
    letter-spacing: 8px;
    margin-bottom: 24px;
}

#main_title1 h2:nth-of-type(1) {
    top: 30%;
    left: 6%;
}

#main_title1 h2:nth-of-type(2) {
    top: 36%;
    left: 6%;
}

#main_title1 h2:nth-of-type(3) {
    top: 44%;
    left: 6%;
}

#main_title1 p:nth-of-type(1) {
    top: 46%;
    left: 17%;
}

#main_title1 a {
    top: 56%;
    left: 5.5%;
    padding: 12px 16px;
    width: max-content;
    border-radius: 25px;
    background-color: #dc000c;
}

/* title2 */
#main_title2 {
    top: 80%;
    left: 12%;
    transform: translateY(-50%);
    transition: 2s;
}

#main_title2 h1 {
    opacity: 0;
    transition: 2s;

}

#main_title2 h2 {
    margin-top: 16px;
    margin-bottom: 36px;
    opacity: 0;
    transition: 3s;
}

#main_title2 h2 span {
    opacity: 0;
    transition: 3s;
}

#main_title2 h3 {
    opacity: 0;
    transition: 2s;
}


#main_title2 button {
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    background-color: #dc000c;
    transition: 2s;
    opacity: 0;
}

/* title3 */
#main_title3 {
    top: 36%;
    left: 10%;
    transition: 1.5s;
}

#main_title3 h2,
#main_title3 h3,
#main_title3 button {
    transition: 2s;
    opacity: 0;
}

#main_title3 h2 {
    margin-top: 16px;
    margin-bottom: 50px;
}

#main_title3 button {
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    background-color: #dc000c;
}

/* title4 */
#main_title4 {
    width: 1401px;
    top: 2%;
    left: 5%;
}

#main_title4 h2,
#main_title4 h3,
#main_title4 button {
    position: absolute;
    display: none;
}

#main_title4 h2 {
    top: 30%;
    left: 15%;
}

#main_title4 h3 {
    top: 48%;
    left: 7%;
}

#main_title4 button {
    top: 64%;
    left: 17%;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    background-color: #dc000c;
}


/* section1 하단 버튼 */
.section1_button_wrap {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 40px;
    bottom: 32px;
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    align-items: end;
}

/* 타이틀 바로가기 버튼 */
.section1_button_wrap_1 {
    width: 740px;
    height: 36px;
    display: flex;

}

.section1_button_wrap_1 button {
    background-color: transparent;
    width: 185px;
    border: none;
    cursor: pointer;
}



/* section1 캐로셀 넘기는 버튼 */

.section1_button_wrap_2 button {
    border: 2px solid black;
    bottom: 32px;
    background-color: rgba(184, 184, 185, 0.475);
}

/* section1 애니메이션 멈추는 버튼  */
.section1_slide_button {
    display: flex;
    position: absolute;
    right: 150px;
    bottom: 8px;
}

.restart1,
.stop1 {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.section1_slide_button span {
    background-color: white;
    width: 20px;
    height: 20px;
}

.restart1 span {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background-color: #dc000c;
}

.stop1 span:nth-of-type(1) {
    clip-path: inset(0 0 0 80%);
}

.stop1 span:nth-of-type(2) {
    clip-path: inset(0 60% 0 20%);
}

/* section2 */
#camera {
    background-color: #F5F5F7;
    width: 100%;
}

.section2_title {
    width: 1400px;
    margin: 0 auto;
    padding: 44px 0;
}

.section2_h2 {
    width: 1400px;
}

.section2_inner {
    margin: 0 auto;
    width: 1400px;
    height: 532px;
    position: relative;
}

/* 섹션 2 슬라이드 설정 */
.slide_hidden {
    margin: 0 auto;
    width: 1400px;
    height: 532px;
    overflow: hidden;
    position: absolute;
    display: flex;
}

.section2_slide {
    display: flex;
}

.section2_slide_next_prev button {
    top: 244px;
    border: 2px solid #6b6b6b;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.section2_slide_next_prev button:nth-of-type(1) {
    left: -20px;
}

.section2_slide_next_prev button:nth-of-type(2) {
    right: -20px;
}

.section2_slide_click {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.section2_slide_click button {
    z-index: 1;
    height: 6px;
    width: 6px;
    border: none;
    background-color: #d1d1d1;
    cursor: pointer;
    transition: .5s;
    margin: 0 3px;
}

.section2_slide_click button:nth-of-type(1) {
    background-color: #363E4A;
    width: 16px;
}

/* 카메라 페이지 설정 */
.camera_page {
    flex-shrink: 0;
    background-color: #fff;
    padding: 20px;
    width: 324px;
    height: 420px;
    border-radius: 8px;
    transition: .3s all;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}

.camera_page img {
    width: 284px;
}

.camera_page:nth-of-type(1) {
    transform: translateX(-343px);
}

.camera_page:nth-of-type(2) {
    transform: translateX(-320px);
}

.camera_page:nth-of-type(3) {
    transform: translateX(-289px);
}

.camera_page:nth-of-type(4) {
    transform: translateX(-256px);
}

.camera_page:nth-of-type(5) {
    transform: translateX(-224px);
    box-shadow: rgba(0, 0, 0, 0.08) -4px 4px 12px 0px;
}

.camera_page:nth-of-type(6) {
    transform: translateX(-200px);
}

.camera_page:nth-of-type(7) {
    transform: translateX(-176px);
}

.camera_page:nth-of-type(8) {
    transform: translateX(-154px);
}

/* 카메라 페이지의 요소 설정 */

.camera_page h2 {
    line-height: 30px;
    margin: 6px 0;
}

.camera_page h3 {
    width: fit-content;
    line-height: 24px;
    padding: 2px 5px;
    border: 1px solid #cf7f9f;
    border-radius: 3px;
}

.camera_page div {
    margin-bottom: 50px;
}


/* section3 */
.section3_inner {
    margin: 0 auto;
    width: 1400px;
    background-color: #fff;
}

.section3_title {
    width: 1280px;
    margin: 0 auto;
    padding: 44px 0;
}

.section3_title h2 {
    margin: 12px 0;
}

.section3_inner {
    height: 504px;
    justify-content: center;
    position: relative;
    margin-bottom: 56px;
}

.section3_slide_wrap {
    width: 1281px;
    margin: 0 auto;
    overflow: hidden;
}

.section3_slide {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    transition: .5s;
}

/* section3 캐로셀 넘기는 버튼 */
.section3_inner>button {
    top: 252px;
    border: 2px solid #6b6b6b;
    background-color: rgba(255, 255, 255, 0);
}

.section3_inner>button:nth-of-type(1) {
    left: 40px;
    opacity: 0.5;
}

.section3_inner>button:nth-of-type(2) {
    right: 40px;
}

/* section3 캐로셀 바로가기 버튼 */
.section3_slide_click {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.section3_slide_click button {
    z-index: 1;
    height: 6px;
    width: 6px;
    border: none;
    background-color: #d1d1d1;
    cursor: pointer;
    transition: .5s;
    margin: 0 3px;
}

.section3_slide_click button:nth-of-type(1) {
    background-color: #363E4A;
    width: 16px;
}

.lens_page {
    flex-shrink: 0;
    width: 320px;
    height: 480px;
    padding: 20px 15px 24px;
    border-top: 1px solid #E5E8EA;
    border-bottom: 1px solid #E5E8EA;
    border-right: 1px solid #E5E8EA;
}

.lens_page:first-of-type {
    border-left: 1px solid #E5E8EA;
}

.lens_page>h3 {
    margin-left: 8px;
    padding: 2px 8px;
    width: fit-content;
    border: 1px solid #cf7f9f;
    border-radius: 4px;
}

.lens_page h3 span {
    margin-right: 4px;
}

.lens_page img {
    width: 290px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.lens_page div {
    padding-left: 8px;
}

.lens_page div h2 {
    margin: 4px 0 20px;
}

/* section4 */
#event {
    background-color: #F5F5F7;
    padding-bottom: 50px;
}

.section4_title {
    width: 1280px;
    margin: 0 auto;
    padding: 44px 0;
}

.ad,
.section4_inner {
    margin: 0 auto;
    width: 1280px;
}

.ad {
    height: 160px;
    border-radius: 8px;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 4px 10px 20px 0 rgba(40, 65, 106, 0.1);
}

.section4_inner {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event_page {
    width: 630px;
    height: 330px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 10px 20px 0 rgba(40, 65, 106, 0.2);
}

.event_wrap h3 {
    margin: 15px 0;
}

.event_page img,
.ad img {
    transition: all .3s;
}

.event_page img:hover,
.ad img:hover {
    transform: scale(1.1, 1.1);
}


/* section5 */
#printer {
    padding-bottom: 44px;
}

.section5_title,
.section5_inner {
    margin: 0 auto;
}

.section5_title {
    width: 1280px;
    margin: 0 auto;
    padding: 44px 0;
}

.section5_inner {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.printer_page {
    width: 320px;
    height: 480px;
    padding: 0 15px;
    border-left: 1px solid #E5E8EA;
    border-bottom: 1px solid #E5E8EA;
}

.printer_page:nth-of-type(4n) {
    border-right: 1px solid #E5E8EA;
}

.printer_page:not(:nth-of-type(4) ~ div) {
    border-top: 1px solid #E5E8EA;
}

.printer_page img {
    width: 290px;
    height: 290px;
}

.printer_page h2,
.printer_page h3,
.printer_page p {
    margin-left: 16px;
}

.printer_page h2 {
    margin-top: 6px;
    margin-bottom: 24px;
}

.printer_page p span {
    margin-right: 4px;
}

/* section6 */
#customer_support {
    width: 100%;
    background-color: #F5F5F7;
}

.section6_title {
    width: 1280px;
    margin: 0 auto;
    padding: 44px 0;
}

.section6_inner {
    width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid rgba(204, 204, 204, 0.2);
}

#map {
    width: 100%;
}

.section6_inner iframe {
    width: 100%;
    height: 760px;
    border: none;
}

.sns div {
    width: 338px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns div:nth-of-type(2n-1) {
    background-color: #fff;
}

.sns i {
    text-align: center;
    line-height: 130px;
    width: 130px;
    height: 130px;
    transition: all .5s;
}

.sns i:hover {
    transform: scale(1.2, 1.2);
}


.ask {
    width: 100%;
    background-color: #fff;
}

.ask_inner {
    width: 1280px;
    margin: 0 auto;
    padding: 44px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ask_inner div:nth-of-type(1) {
    display: flex;
    align-items: center;
}

.ask_inner div:nth-of-type(2) p {
    margin-bottom: 16px;
}

.ask_inner div:nth-of-type(1) h2 {
    margin-left: 24px;
}

.ask_inner div:nth-of-type(3),
.ask_inner div:nth-of-type(4) {
    text-align: center;
}

.ask_inner div:nth-of-type(3) i,
.ask_inner div:nth-of-type(4) i {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    text-align: center;
    line-height: 120px;
    border-radius: 50%;
    background-color: #dc000c;
    transition: all .5s;
}

.ask_inner div:nth-of-type(3) i:hover,
.ask_inner div:nth-of-type(4) i:hover {
    transform: scale(1.2, 1.2);
}



/* footer */
footer {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding: 56px 0;
    background-color: #1c1c1c;
}

.footer_wrap {
    width: 1080px;
    margin: 0 auto;
}

.price {
    display: flex;
    width: 1080px;
    height: 100px;
    justify-content: center;
}

.price img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.price div {
    width: 360px;
    text-align: center;
}

.price div h2 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.footer_info {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

.copy_right {
    margin-bottom: 24px;
}

.family_site {
    background-color: #F5F5F7;
    border: 2px solid #8b8b8b;
    border-radius: 8px;
    overflow: hidden;
    width: 167px;
}

.family_site_btn {
    padding: 8px 16px;
    cursor: pointer;
}

.family_sites {
    height: 0;
    transition: all .8s;
}

.family_sites a {
    display: inline-block;
    width: 100%;
}

.family_sites div {
    padding: 8px 16px;
    border-top: 1px solid rgba(204, 204, 204, 0.3);
}