@charset "utf-8";

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 10px;
}

.login li {
    font-size: 1.3rem;
}

.login ul li:nth-of-type(2n) {
    font-size: 0.8px;
    color: #666;
}

.logo {
    font-size: 3.2rem;
}

nav li {
    font-size: 1.5rem;
    font-weight: bold;
}

nav i {
    font-size: 24px;
}

#main button,
.section2_inner button .section3_inner button {
    font-size: 1.6rem;
}


/* section2 */

.camera_page h2 {
    font-size: 2rem;
    font-family: ONE-Mobile-Title, sans-serif;
    letter-spacing: 2.5px;
}

.camera_page h3,
.camera_page p {
    font-family: SUIT-Regular, sans-serif;
    letter-spacing: 2px;
}

.camera_page h3 {
    font-size: 1.2rem;
    color: #9f0040;
}

.camera_page p {
    color: #8b8d91;
    font-weight: 600;
    font-size: 1.4rem;
}