@charset "utf-8";

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

.login li {
    font-size: 1.3rem;
}

.login ul li:nth-of-type(2n) {
    font-size: 0.8px;
    color: #666;
}

.logo {
    font-size: 3.2rem;
}

nav li {
    font-size: 1.5rem;
    font-weight: bold;
}

nav i {
    font-size: 24px;
}

#main button,
.section2_inner button .section3_inner button {
    font-size: 1.6rem;
}
/* 메뉴 버튼 */
header .menu_page div h3 {
    color: #fff;
    font-size: 2.4rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 2px;
}
header .menu_page div p {
    color: #a2a2a3;
    font-size: 1.4rem;
}
header .menu_page span i {
    font-style:normal;

}
/* section1 */
/* 하단버튼 */
.section1_button_wrap_1 button {
    color: #aaa;
    font-weight: bold;
}

/* 하단 바로가기 버튼 */
.go_title {
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 4px;
}

/* title1 */
#main_title1 h1 {
    font-size: 14rem;
    font-family: 'ONE-Mobile-Title';
}

#main_title1 h2 {
    font-size: 3.2rem;
    font-family: 'NanumSquareNeo-Variable';
}

#main_title1 h2:nth-of-type(3) {
    font-size: 4rem;
    font-family: 'ONE-Mobile-Title';
    font-weight: lighter;
}

#main_title1 p:nth-of-type(1) {
    font-size: 3rem;
    font-family: 'NanumSquareNeo-Variable';
}

#main_title1 a {
    font-size: 2rem;
    color: #fff;
}

/* title2 */
#main_title2 h2 {
    font-size: 6rem;
    font-family: 'NanumSquareNeo-Variable';
    letter-spacing: 4px;
    line-height: 8rem;
    font-weight: bolder;
}

#main_title2 h3 {
    font-size: 2.4rem;
    font-family: 'SUIT-Regular';
}

#main_title2 button {
    color: white;
    font-family: 'SUIT-Regular';
    font-size: 1.8rem;
}

/* title3 */
#main_title3 h2 {
    font-size: 6rem;
    color: white;
}

#main_title3 h3 {
    font-size: 3rem;
    color: white;
}

#main_title3 button {
    color: white;
    font-family: 'SUIT-Regular';
    font-size: 1.8rem;
}

/* title4 */
#main_title4 h2 {
    font-size: 8rem;
    font-family: 'ONE-Mobile-Title';
    color: #dc000bbb;
}

#main_title4 h3 {
    font-size: 4rem;
    font-family: 'NanumSquareNeo-Variable';
    letter-spacing: 4px;
}

#main_title4 button {
    color: white;
    font-family: 'SUIT-Regular';
    font-size: 1.8rem;
}

/* section2 */
.section2_title h2 {
    font-size: 3.2rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 4px;
    color: #363e4a;
}

.camera_page h2 {
    font-size: 2rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 2.5px;
}

.camera_page h3,
.camera_page p {
    font-family: 'SUIT-Regular';
    letter-spacing: 2px;
}

.camera_page h3 {
    font-size: 1.2rem;
    color: #9f0040;
}

.camera_page p {
    color: #8b8d91;
    font-weight: 600;
    font-size: 1.4rem;
}

/* section3 */
.section3_title h2 {
    font-size: 3.2rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 4px;
    color: #363e4a;
}

.section3_title h3 {
    font-size: 1.8rem;
    font-family: 'NanumSquareNeo-Variable';
    color: #4b82ee;
    letter-spacing: 4px;
    font-weight: bold;
}

.lens_page>h3 {
    font-size: 2rem;
    color: #dc000c;
}

.lens_page h3 span {
    color: #000;
}

.lens_page div p {
    font-size: 1.6rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 2px;
    color: #9f0040;
}

.lens_page div h2 {
    font-size: 1.8rem;
}

.lens_page div h3 {
    font-size: 2.4rem;
}

/* section4 */

.section4_title h2 {
    font-size: 3.2rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 4px;
    color: #363e4a;
}

.event_wrap h3 {
    font-size: 2rem;
    margin: 15px 0;
}

.event_wrap p {
    font-size: 1.6rem;
}

/* section5 */

.section5_title>h2 {
    font-size: 3.2rem;
    font-family: 'ONE-Mobile-Title';
    letter-spacing: 4px;
    color: #363e4a;
}
.printer_page h2 {
    font-size: 2.2rem;
    font-weight: 600;
}
.printer_page h3 {
    font-size: 3rem;
}
.printer_page p {
    font-family: 'ONE-Mobile-Title';
    font-size: 1.6rem;
}
.printer_page p span{
    color: #dc000c;
}

/* section6 */
#customer_support h2,
.ask_inner p,
.ask_inner h3 {
    letter-spacing: 4px;
    color: #363e4a;
}

#customer_support h2 {
    font-size: 3.2rem;
    font-family: 'ONE-Mobile-Title';
}


.ask_inner p {
    font-size: 1.6rem;
    font-family: 'NanumSquareNeo-Variable';
}

.ask_inner h3 {
    font-size: 2.4rem;
    font-family: 'SUIT-Regular';
}

/* footer */
footer {
    color: #adadad;
}

.footer_info {
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-family: 'SUIT-Regular';
    letter-spacing: 1.6px;
}

.copy_right a {
    color: #adadad;

}

.family_site {
    font-size: 1.6rem;
}

.family_site_btn,
.family_sites a {
    color: #1c1c1c;
}