@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;700;900&display=swap');

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* 공통 */
#wrap {
    width: 1200px;
    margin: 0 auto;
    /* width 지정 후, margin: 0 auto  - 가운데 정렬하는 방법*/
}

body {
    font: 1.5rem/1.8 'Gothic A1', sans-serif;
    color: #333;
}

img {
    vertical-align: top;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #777;
}

#contents,
footer {
    display: flex;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

header li {
    display: inline-block;
}


/* 로고 */
.logo {
    width: 200px;
}

/* 네비게이션 */
/* nav {
    width: 800px;
} */

nav ul {
    display: flex;
}

nav li {
    width: 150px;
    margin-left: 8px;
    text-align: center;
}

nav .main>li>a {
    color: #854E2F;
    font-size: 1.8rem;
}

nav .sub {
    display: none;
}

/* 슬라이드 */
#slide {
   
    overflow: hidden;
}

#slide ul {
    position: relative;
    left: 0;
    display: flex;
    width: 400%;
    animation: slide 10s infinite;
}

@keyframes slide {
    0% {
        left: 0;
    }

    5% {
        left: -100%;
    }

    33% {
        left: -100%;
    }

    38% {
        left: -200%;
    }

    66% {
        left: -200%;
    }

    71% {
        left: -300%;
    }

    99.999% {
        left: -300%;
    }

    100% {
        left: 0;
    }
}


#slide img {
    width: 100%;
}

/* 메인 컨텐츠 */

#contents>div {
    width: 400px;
    height: 200px;
}

/* 탭 메뉴 */
.tabs {
    padding: 24px 24px 24px 0;
}

.tabs input,
.tabs #tab1, .tabs #tab2 {
    display: none;
}

#btn1:checked~#tab1,
#btn2:checked~#tab2 {
    display: block;
}

.tabs label {
    display: inline-block;
    background-color: #854E2F;
    color: white;
    padding: 4px 16px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}

#btn1:checked+label,
#btn2:checked+label {
    background-color: orange;
    color: black;
    font-weight: 700;
}

/* 탭 메뉴 - 공지사항 */
#tab1 li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
    white-space: wrap;

}

#tab1 span {
    display: inline-block;
}

#tab1 a {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tab1 a:hover {
    color: #333;
}

/* 탭 메뉴 - 갤러리 */
#btn2:checked ~ #tab2 {
    display: flex;
    justify-content: space-between;
}
#tab a {
    display: inline-block;
}
#tab2 img {
    width: 110px;

}

/* 배너 */
.banner img {
    width: 400px;
    height: 200px;
}

/* 바로가기 */
.shortcut img {
    width: 400px;
    height: 200px;
}

/* 푸터 */
footer {
    background: violet;
}

.b_logo {
    width: 200px;
    height: 100px;
    background: rebeccapurple;
}

.addr {
    width: 800px;
    height: 100px;
    background: magenta;
}

.sns {
    width: 200px;
    height: 100px;
    background: skyblue;
}