@charset "utf-8";

body {
    height: 5000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img {
    width: 466px;
    height: 466px;
    opacity: 0;
    transition: 1s;
}