@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    perspective: 1000px;

    text-align: center;
    width: 1920px;
    height: 800px;
    /* border: solid; */
    position: relative;
}

.about img:nth-of-type(2) {
    position: absolute;
    top: 28%;
    right: 50%;
    transform: translate(50%, -50%);
}

.hexagon {
    font-style: italic;
    position: absolute;
    top: 90px;
    left: 18%;
    color: white;
    background-color: black;
    width: 342px;
    height: 304px;
    clip-path: polygon(0 0, 100% 5%, 100% 85%, 0% 100%);
}
.hexagon h3 {
    font-size: 32px;
    padding: 24px 0px;
    border-bottom: 4px solid;
}
.hexagon h4 {
    font-size: 24px;
}
.mtext {
    margin-top: 24px;
    display: flex;
}

.mtext div {
    width: 180px;
}
.mtext p {
    font-size: 16px;
    margin-top: 16px;
}

.hexagon2 {
    perspective: 1000px;
    font-style:italic;
    position: relative;
    position: absolute;
    top: 89px;
    right: 18%;
    color: white;
    background-color: black;
    width: 342px;
    height: 308px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 85%);
}
.hexagon2 h3 {
    position: absolute;
    font-size: 20px;
    padding-top: 24px;
    padding-left: 36px;
    padding-bottom: 10px;
    border-bottom: 4px solid;
    /* transform: skewX(-15deg) */
    
}
.hexagon2 img {
    position: absolute;
    margin-top: 3px;
    top: 80px;
    right: 1px;
    width: 270px;
    height: 200px;
    transform:rotateY(-35deg);
    clip-path: polygon(0 1.5%, 100% 6%, 100% 99%, 0 95%);
}
.hexagon2 div {
    position: absolute;
    margin: 8px;
    padding-top: 60px
}

.hidden {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 93px;
    right: 46px;
    background-color: white;
    clip-path: polygon(47% 55%, 40% 56%, 36% 48%, 45% 41%, 78% 34%, 77% 73%);
    transform: rotateY(-35deg);
}
.graph {
    /* width: 160px; */
    /* height: 160px; */
    position: absolute;
    top: 93px;
    right: 46px;
    background-color: white;
    clip-path: polygon(45% 54%, 42% 55%, 36% 49%, 45% 41%, 77% 35%, 76% 71%);
    transform: rotateY(-35deg);
    transition:all 0s .1s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(1, 0, 0,1);
    transition-timing-function: steps(20 start);

}

.graph_in {
    position: absolute;
    top: 101px;
    right: 53px;
    background-color: white;
    clip-path: polygon(44.5% 51.5%, 41% 53%, 37% 49%, 46% 42%, 77% 36%, 76% 69%);
    transform: rotateY(-35deg);
    transition:all 0s .3s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(1, 0, 0,1);
    transition-timing-function: steps(20 start);
}

.hexagon2:hover>.graph {
    background-color: red;
    width: 46%;
    height: 52%;
    transform: scale(1);
    transition:all 2.7s .3s;



}
.hexagon2:hover>.graph_in {
    background-color:#ffbbbb ;
    width: 42%;
    height: 47%;
    transform: scale(1);
    transition:all 2.7s .3s;

    


}

.about1 {
    perspective: 1000px;
    text-align: center;
    width: 1920px;
    height: 800px;
    /* border: solid; */
    position: relative;
}

.about1 img {
    width: 100%;
}

.container {
    width: 1920px;
    margin: 0 auto;
}
