@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.about {
    perspective: 1000px;
    text-align: center;
    width: 1920px;
    height: 800px;
    /* border: solid; */
    position: relative;
}

.about1 {
    perspective: 1000px;
    text-align: center;
    width: 1920px;
    height: 800px;
    border: solid;
    position: relative;
    perspective: 800px;
}

.name_card {
    width: 520px;
    height: 330px;
    border: 5px solid black;
    position: absolute;
    top: 18%;
    right: 37%;
    /* transform: translate(50%, -50%); */
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    font-weight: bolder;
    font-size: 1.6rem;
    transform: scale(0, 0);
    transition: 5s;
    
}

.name_card h2 {
    font-size: 3rem;
    margin-bottom: 36px;
}

.name_card div {
    padding: 20px 10px 0px;
    width: 200px;
    height: 288px;
}

.name_card p {
    margin-bottom: 24px;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.program_language {
    
    width: 400px;
    height: 380px;
    background-color: black;
    color: white;
    position: absolute;
    top: 17%;
    left: 9%;
    font-weight: bolder;
    font-size: 1.6rem;
    transform: rotateY(10deg);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 99%);
    justify-content: space-around;
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;

    transform: scale(0, 0);
    transition: 5s;
}

.program_language h2 {
    font-size: 3rem;
    border-bottom: 5px solid white;
    width: 100%;
    height: 80px;
    padding: 16px;
}

.program_language h3 {
    padding: 16px;
    font-size: 2rem;
    border-bottom: 5px solid white;
}

.program_language div {
    border: 5px solid white;
    transform: rotateY(30deg);
}

.program_language div:nth-of-type(1) {
    width: 173px;
    height: 200px;
    margin-left: 16px;
}

.program_language div:nth-of-type(2) {
    margin-top: 8px;
    width: 180px;
    height: 170px;
}

.program_language p {
    background-color: white;
    margin-top: 16px;
    font-size: 1.8rem;
}

.front p:nth-of-type(1) {
    color: #f1662a;
}

.front p:nth-of-type(2) {
    color: #1978ba;
}

.front p:nth-of-type(3) {
    color: #f2bf4f;
}

.back p:nth-of-type(1) {
    color: #e32b2c;
}

.back p:nth-of-type(2) {
    color: #3748a5;
}

.graph {
    width: 410px;
    height: 400px;
    background-color: black;
    color: white;
    position: relative;
    position: absolute;
    top: 17%;
    right: 8.5%;
    font-weight: bolder;
    font-size: 1.6rem;
    transform: rotateY(-9deg);
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 85%);
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
    transform: scale(0, 0);
    transition: 5s;

}

.graph img {
    position: absolute;
    top: 22%;
    right: 3%;
    width: 300px;
    height: 280px;
    clip-path: polygon(15% 1%, 98% 0, 98% 99%, 15% 90%);

}

.graph h2 {
    font-size: 2.5rem;
    border-bottom: 5px solid white;
    width: 100%;
    height: 70px;
    padding-top: 16px;
}

.hidden {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 145px;
    right: 64px;
    background-color: white;
    clip-path: polygon(46% 56%, 46% 59%, 38% 48%, 46% 38%, 77% 30%, 76% 79%);
}

.graph1 {

    width: 160px;
    height: 160px;
    position: absolute;
    top: 145px;
    right: 64px;
    background-color: white;
    clip-path: polygon(47% 55%, 45% 57%, 39% 48%, 47% 39%, 77% 30%, 76% 79%);
    transition: all 0s .5s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.graph2 {
    width: 158px;
    height: 160px;
    position: absolute;
    top: 145px;
    right: 66px;
    background-color: white;
    clip-path: polygon(48% 53.5%, 45.5% 55.5%, 41% 48.5%, 48.5% 40%, 77% 32%, 76% 76.5%);
    transition: all 0s .5s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.graph:hover>.graph1 {
    background-color: red;
    width: 160px;
    height: 160px;
    transform: scale(1);
    transition: all 2.7s .3s;



}

.graph:hover>.graph2 {
    background-color: #ffbbbb;
    width: 158px;
    height: 160px;
    transform: scale(1);
    transition: all 3s .3s;
}

.graph div:last-of-type {
    padding: 8px;
    border: 5px solid white;
    position: absolute;
    top: 40%;
    left: 3%;
    transform: rotateY(-25deg);
    font-size: 2rem;
}

.name_card, .program_language, .graph {
    transition: 2s;
}
.about1:hover .name_card {
    transform: scale(1, 1);
}
.about1:hover .program_language {
    transform: scale(1, 1);
}
.about1:hover .graph {
    transform: scale(1, 1);
}