@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    color: black;
    font: 1.6rem/1.8 'Noto Sans KR', sans-serif;

}

li {
    list-style: none;
}

/* a태그와 버튼 글자 색은 body 태그의 글자 색을 상속 받지 않는다. */
a {
    color: #333;
    text-decoration: none;
}

/* header */
header {
    z-index: 9999;
    top: 0;
    position: fixed;
    width: 100%;
    height: 54px;
}

nav {
    height: 100%;
}

header ul {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

header li {
    margin: 0 8px;
}

header i {
    margin-right: 8px;
}

header a {
    padding: 4px 8px;
}

header a:hover {

    background-color: #ccc;
}

/* section1 */
#home {
    position: relative;
    background: url(images/pk_profile.png) no-repeat 50% 50%/cover fixed;
    height: 100vh;
    /* 
    background img: url
    background repeat:no-repeat;
    background position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    
    */
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    font-size: 24px;
    padding: 12px 24px;
}

.logo a {
    color: white;
}


/* section2 */
#about {
    margin: 88px auto 0;
    border: 1px solid;
    width: 952px;
    height: 760px;
}

#about h2 {
    text-align: center;
}

#about image {
    display: inline;

}

.name {
    text-align: center;
}
#about img {
    text-align: center;
    margin-left: 50%;
}

/* section3 */
#parallax {
    position: relative;
    background: url(images/pk_camera.png) no-repeat 50% 50%/cover fixed;
    height: 100vh;
}

/* section4 */
/* footer */