@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


/* reset */
* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    color: blue;
    font-size: 1.5rem/1.8 'Noto Sans KR', sans-serif;

}

/* a태그와 버튼 글자 색은 body 태그의 글자 색을 상속 받지 않는다. */
a {
    color: #333;
}

img {
    width: 100%;

}

/* header */
header {
    z-index: 9999;
    top: 0;
    position: fixed;
    width: 100%;
    height: 54px;
}

nav {
    height: 100%;
}

header ul {
    padding: 0 32px;
    display: flex;
    align-items: center;
    height: 100%;

}

header li {
    margin: 0 24px;
}
header a {
   padding: 4px 16px;
}

header a:hover {
    
    background-color: #ccc;
}

/* section1 */
#home {
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    font-size: 24px;
    padding: 12px 24px;
}

.logo a {
    color: white;
}


/* section2 */
/* section3 */
/* section4 */
/* footer */