@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* header */
header {
    z-index: 9999;
    top: 0;
    position: fixed;
    width: 100%;
    height: 54px;
}

/* nav */
nav {
    height: 100%;
}

nav ul {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    margin: 0 8px;
}

nav i {
    margin-right: 8px;
}

nav a {
    padding: 4px 8px;
}

nav a:hover {
    background-color: #ccc;
}

/* section1 */
#home {
    position: relative;
    background: url(images/pk_profile.png) no-repeat 50% 50%/cover fixed;
    height: 100vh;
}

/* logo */
.logo {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 12px;
    text-align: center;
}

/* section2 */

#about {
    text-align: center;
    width: 1920px;
    height: 800px;
    margin: 0 auto 200px auto;
    position: relative;
    perspective: 800px;
}
/* 가운데 이름 카드 */
.name_card {
    width: 520px;
    height: 330px;
    position: relative;
    position: absolute;
    top: 18%;
    right: 36.5%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    transform: scale(0, 0);
}

.name_card div {
    padding: 8px 10px 0px;
    width: 200px;
    height: 288px;
}

.name_card h2 {
    margin-bottom: 24px;
}



.name_card p {
    margin-bottom: 16px;
}
/* 왼쪽 언어 카드 */
.program_language {
    width: 400px;
    height: 380px;
    background-color: black;
    position: relative;
    position: absolute;
    top: 17%;
    left: 9%;
    transform: rotateY(10deg);
    clip-path: polygon(0 0, 100% 4%, 100% 87%, 0% 100%);
    justify-content: space-around;
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
    transform: scale(0, 0);
}

.program_language h2 {
    border-bottom: 5px solid white;
    width: 100%;
    height: 80px;
    padding: 16px;
}

.program_language h3 {
    border-bottom: 5px solid white;
}

.program_language div {
    transform: rotateY(30deg);
}

.program_language div:nth-of-type(1) {
    width: 173px;
    height: 200px;
    margin-left: 16px;
}

.program_language div:nth-of-type(2) {
    margin-top: 8px;
    width: 180px;
    height: 170px;
}

.program_language p {
    background-color: white;
    margin-top: 16px;
}
/* 오른쪽 그래프 */
.graph {
    width: 410px;
    height: 400px;
    background-color: black;
    position: relative;
    position: absolute;
    top: 17%;
    right: 8.5%;
    transform: rotateY(-9deg);
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 84%);
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
    transform: scale(0, 0);
}

.graph img {

    clip-path: polygon(15% 1%, 98% 0, 98% 99%, 15% 90%);
    position: absolute;
    top: 22%;
    right: 3%;
    width: 300px;
    height: 280px;
    transform: scale(0.99, 0.99);
}

.graph span {
    background-color: white;
    z-index: 1;
    position: absolute;
}

.graph span:nth-of-type(1) {
    top: 28%;
    left: 48%;
    transform: rotateY(-11deg);
}

.graph span:nth-of-type(2) {
    top: 38%;
    left: 79%;

}

.graph span:nth-of-type(3) {
    top: 66%;
    left: 79%;
}

.graph span:nth-of-type(4) {
    top: 81.5%;
    left: 50%;
    transform: rotateY(-11deg);
}

.graph span:nth-of-type(5) {
    top: 64%;
    left: 37%;
}

.graph span:nth-of-type(6) {
    top: 39%;
    left: 37%;
}

.graph h2 {
    border-bottom: 5px solid white;
    width: 100%;
    height: 70px;
    padding-top: 16px;
}

.hidden {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 145px;
    right: 64px;
    background-color: white;
    clip-path: polygon(46% 56%, 46% 59%, 38% 48%, 46% 38%, 78% 28%, 76% 79%);
}

.graph1 {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 145px;
    right: 64px;
    background-color: white;
    clip-path: polygon(47% 55%, 45% 57%, 39% 48%, 47% 39%, 77% 30%, 76% 79%);
    transform: scale(0);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.graph2 {
    width: 158px;
    height: 160px;
    position: absolute;
    top: 145px;
    right: 66px;
    background-color: white;
    clip-path: polygon(48% 53.5%, 45.5% 55.5%, 41% 48.5%, 48.5% 40%, 77% 32%, 76% 76.5%);
    transform: scale(0);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.graph:hover>.graph1 {
    background-color: red;
    width: 160px;
    height: 160px;
    transform: scale(1);
    transition: all 2.7s .3s;
}

.graph:hover>.graph2 {
    background-color: #ffbbbb;
    width: 158px;
    height: 160px;
    transform: scale(1);
    transition: all 3s .3s;
}

.graph div:last-of-type {
    padding: 8px;
    position: absolute;
    top: 40%;
    left: 3%;
    transform: rotateY(-25deg);
}

.note1,
.note2,
.note3 {
    position: absolute;
    background: url(images/note.png) no-repeat;
    text-align: center;
}

.note1 span,
.note2 span,
.note3 span {
    display: inline-block;
}

.note1 {
    left: 40%;
    top: 75%;
    width: 325px;
    height: 320px;
    transform: rotateX(30deg);
    background-position: -10px;
}

.note1 span {
    margin-top: 72px;
    margin-left: 40px;
    width: 152px;
    height: 192px;
}

.note2 {
    left: 20%;
    top: 80%;
    width: 232px;
    height: 312px;
    transform: rotate(-20deg);
    background-position: -354px -20px;
}

.note2 span {
    margin-top: 64px;
    width: 152px;
    height: 192px;
    background-color: white;
}

.note3 {
    left: 65%;
    top: 80%;
    width: 232px;
    height: 312px;
    transform: rotate(20deg);
    background-position: -608px -20px;
}

.note3 span {
    margin-top: 72px;
    margin-left: 24px;
    width: 152px;
    height: 192px;
}

.name_card,
.program_language,
.graph {
    transition: 2s;
}

#about:hover .name_card {
    transform: scale(1, 1);
}

#about:hover .program_language {
    transform: scale(1, 1);
}

#about:hover .graph {
    transform: scale(1, 1);
}

#about:hover .graph img {
    transform: scale(1, 1);
    transition: 0.1s;
}

/* section3 */
.parallax1 {
    position: relative;
    background: url(images/pk_camera.png) no-repeat 50% 50%/cover fixed;
    height: 100vh;
}

/* section4 */
#portfolio {
    margin: 80px auto;
    padding-top: 72px;
    text-align: center;
    width: 1496px;
}

.portfolio_img {
    width: 1320px;
    height: 700px;
    margin: 80px auto 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio_img div:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

#portfolio span:hover {
    background-color: #ccc;
}

.portfolio_img div {
    display: inline-block;
    width: 413px;
    height: 264px;
    overflow: hidden;
}

#portfolio h2 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.494);
    padding-bottom: 24px;
}

#portfolio span {
    background-color: black;
    box-sizing: content-box;
    padding: 8px 24px;
}

.portfolio_img h3 {
    width: 100%;
    height: 43px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.494);
}

.portfolio_img img {
    width: 413px;
}

/* section5 */
.parallax2 {
    position: relative;
    background: url(images/flower.png) no-repeat 50% 50%/cover fixed;
    height: 100vh;
}

.parallax1 h2,
.parallax2 h2 {
    opacity: 0;
}

#contact {
    margin: 80px auto 40px;
    padding-top: 72px;
    text-align: center;
    width: 1496px;
    text-align: center;
}

#contact h2 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.494);
    padding-bottom: 24px;
}

.map {
    padding-top: 24px;
}

iframe {
    margin: 40px 0;
    width: 1320px;
    height: 400px;
    border-radius: 8px;
}

address {
    width: 720px;
    margin: 0 auto;
}

#contact p {
    margin-bottom: 8px;
}

form {
    width: 960px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

input {
    margin: 16px 40px 32px 40px;
    padding-left: 8px;
    width: 200px;
    height: 40px;
}

textarea {
    width: 960px;
    padding-top: 16px;
    padding-left: 16px;
}

form button {
    margin-top: 40px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

form button:hover {
    background-color: black;
}

/* footer */
footer {
    background-color: black;
    text-align: center;
    padding: 40px 0 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sns {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sns a {
    width: 120px;
}

footer button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25%;
    right: 5%;
    cursor: pointer;
}

footer button:hover {
    transform: scale(1.2, 1.2);
}